html .jumbotron {
    padding-left: 15px;
    padding-right: 15px;
}

html[lang='en-GB'] footer#bottom ul li {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}
html[lang='en-GB'] footer#bottom ul li > i,
html[lang='en-GB'] footer#bottom ul li > img {
    margin-right: 8px;
}
html[lang='en-GB'] footer#bottom ul {
    padding-left: 0;
    list-style: none;
}

html[lang='en-GB'] address span[itemprop=name] {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

html[lang='en-GB'] .col-lg-4 address .fa-map-marker {
    display: none;
}

html[lang='en-GB'] .col-lg-4 address + .alert {
    display: none;
}

html[lang='en-GB'] #o_wblog_post_top {
    padding-top: 0;
}

html[lang='en-GB'] #o_wblog_post_content .css_editable_mode_hidden.text-muted 
{
    display: none;
}




html[lang='en-GB'] header .navbar-brand.logo img {
    height: 5rem;
}

html[lang='en-GB'] .o_header_affixed.o_header_is_scrolled .navbar-brand img {
    height: 4rem;
}

@media (max-width: 767.98px) {
    html[lang='en-GB'] header .navbar-brand.logo img {
        max-height: 4rem;
    }
    html[lang='en-GB'] header .navbar-brand, header .navbar-brand.logo {
        margin-right: 0;
    }
}

@media (min-width: 768px)
{
    html[lang='en-GB'] h1 > font {
        hyphens: none !important;
    }
}

.o_header_is_scrolled > #oe_structure_header_contact_1 {
    display: none;
}

#website_cookies_bar .modal-content.oe_structure > *
{
    background-color: #003c57 !important;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid;
    color: #fff;
    padding-top: 0;
}
#website_cookies_bar .modal-content.oe_structure h3 {
    color: #fff;
    margin-bottom: 15px;
    margin-top: 7.5px;
}
#website_cookies_bar .modal-content.oe_structure .row 
{
    align-items: center;
    justify-content: center;
}
#website_cookies_bar .modal-content.oe_structure .row .btn {
    border-color: #C5A25E !important;
    color: #000 !important;
    background-color: #C5A25E !important;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px !important;
}
#website_cookies_bar .modal-content.oe_structure .row .btn:hover {
    border-color: #fff !important;
    color: #fff !important;
    background-color: transparent !important;
}
#website_cookies_bar .modal-content.oe_structure .row .o_cookies_bar_text_policy.btn {
    padding: 5px 10px !important;
}
#website_cookies_bar .modal-content.oe_structure .row .o_cookies_bar_text_policy:not(.btn) {
    color: #fff;
    text-decoration: underline;
}
#website_cookies_bar .modal-content.oe_structure > .pt32 {
    padding-top: 20px !important;
}
