@media (max-width: 480px) {
    .lang_del_m {
        display: none;
    }
}

@media (min-width: 768px)
{
    .s_cover h1 > font {
        hyphens: none !important;
    }
}

@media (min-width: 481px)
{
    .s_cover h1 > font > br {
        display: none;
    }
}

#wrapwrap.homepage .s_cover h1 > font {
    hyphens: none !important;
}

@media (max-width: 767px) {
    .s_cover h1 > font {
        font-size: 40px !important;
    }
}

.s_banner .o_cc1.container-fluid.py-5.rounded.o_cc {
    padding-left: 45px;
    padding-right: 45px;
}

#website_cookies_bar .modal-content.oe_structure > *
{
    background-color: #003c57 !important;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid;
    color: #fff;
    padding-top: 0;
}
#website_cookies_bar .modal-content.oe_structure h3 {
    color: #fff;
    margin-bottom: 15px;
    margin-top: 7.5px;
}
#website_cookies_bar .modal-content.oe_structure .row 
{
    align-items: center;
    justify-content: center;
}
#website_cookies_bar .modal-content.oe_structure .row .btn {
    border-color: #C5A25E !important;
    color: #000 !important;
    background-color: #C5A25E !important;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px !important;
}
#website_cookies_bar .modal-content.oe_structure .row .btn:hover {
    border-color: #fff !important;
    color: #fff !important;
    background-color: transparent !important;
}
#website_cookies_bar .modal-content.oe_structure .row .o_cookies_bar_text_policy.btn {
    padding: 5px 10px !important;
}
#website_cookies_bar .modal-content.oe_structure .row .o_cookies_bar_text_policy:not(.btn) {
    color: #fff;
    text-decoration: underline;
}
#website_cookies_bar .modal-content.oe_structure > .pt32 {
    padding-top: 20px !important;
}
