#o_wblog_blog_top > * {
    padding-top: 150px;
    justify-content:center
}
#o_wblog_post_top {
    padding-top: 0;
}
.website_blog .navbar-nav {
    display: none;
}

#o_wblog_blog_top .o_wblog_post_title {
    text-align:center;
}

.website_blog #o_wblog_post_search .oe_search_box {
    height: unset !important;
}

html[lang='en-GB'] #o_wblog_post_content .css_editable_mode_hidden.text-muted {
    display: none;
}

.website_blog .o_wblog_post_page_cover.cover_auto {
    min-height: 500px !important;
}
.website_blog .o_record_cover_container .o_record_cover_component.o_record_cover_image {
    background-position: 0 35%;
}
.website_blog .o_record_cover_container .o_record_cover_component.o_record_cover_image[style="background-image: none;"] {
    background-image: url(https://people.sprintit.fi/web/image/188544/3N1A2097.jpg) !important;
}

.website_blog #o_wblog_post_search {
    position: relative;
}

html .btn {
    font-family: unset !important
}

@media (max-width: 480px) {

    .s_banner.o_background_video b {
        width: 100%;
        display: block;
    }
    .s_banner.o_background_video .container-fluid {
        padding-left: 1em;
    }
    .s_banner.o_background_video b > font {
        font-size: 3em !important;
    }

}

@media (max-width: 992px) {
    header nav.navbar {
        background-color: #003c57;
    }
    #oe_structure_header_contact_1 {
        top: 9px;
    }
        #oe_structure_header_contact_1 {
        position:static;
        margin-top: 15px;
    }
        .navbar-light .navbar-toggler {
        margin-left: auto;
    }
}
